<div class="point point-data" data-id="{{id}}">
  {{{circle bubble}}}
  <div class="point-container {{{circle-type bubble}}}">
    <h3>{{title}}</h3>
    <p class="point-body">{{description}}</p>
  </div>
</div>