<div class="point point-data{{#if image}} show-picture{{/if}}" data-id="{{id}}">
  {{{circle bubble}}}
  <div class="point-container {{{circle-type bubble}}}">
    <div class="top">
      <div class="actions">
        <a class="edit"><i class="fa fa-pencil"></i></a>
        <div class="confirm">
          <a class="remove"><i class="fa fa-check"></i></a>
          <a class="cancel"><i class="fa fa-times"></i></a>
          <a class="trash"><i class="fa fa-trash"></i></a>
        </div>
      </div>
    </div>
    {{#if link}}
      <h3><a target="_blank" href="{{link}}">{{title}}</a></h3>
    {{^}}
      <h3>{{title}}</h3>
    {{/if}}
    <p class="point-body">{{description}}</p>
    {{#if image}}<div class="point-picture"><img class="picture-point-image" src="{{image}}!picture"></div>{{/if}}
  </div>
</div>