<div class="profile">
  <h1>{{#if title}}{{title}}{{^}}标题{{/if}}</h1>
  <h3 class="link">
    <a target="_blank" href="/@{{#if mark}}{{mark}}{{^}}{{id}}{{/if}}">starry.so/@{{#if mark}}{{mark}}{{^}}{{id}}{{/if}}</a>
  </h3>
  {{#if description}}<p>{{description}}</p>{{/if}}
  <a class="btn btn-default edit">修改</a>
</div>
<form class="profile-edit">
  <div class="input-group">
    <input type="text" class="form-control" name="title" placeholder="标题" autocomplete="off" value="{{#if title}}{{title}}{{^}}标题{{/if}}">
  </div>
  <div class="input-group">
    <label class="input-group-addon">starry.so/@</label>
    <input type="text" class="form-control" name="mark" autocomplete="off" placeholder="标识" value="{{#if mark}}{{mark}}{{^}}{{id}}{{/if}}">
  </div>
  <div class="input-group">
    <textarea class="form-control" name="description" rows="4" placeholder="描述">{{description}}</textarea>
  </div>
  <div class="form-group">
    <a class="btn btn-default cancel">取消</a>
    <button class="btn btn-primary" type="submit" data-loading-text="数据提交中...">保存</button>
  </div>
</form>
<div class="nav">
  {{> section-navigation }}
</div>
